{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Sherlock validator</title>
</head>

<nav class="navbar navbar-dark bg-info">
    <a class="navbar-brand" href="#">
        Sherlock validator
    </a>
</nav>

<body>
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <div class="card card-body">
                <h3 class="text-center">validate your string</h3>
                <form action="post" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <button type="submit" class="btn btn-info">
                        validate
                    </button>
                </form>
                <div class="text-center" id="valid">
                    <h3>{{validacion}}</h3>
                </div>
            </div>
        </div>
</body>

</html>